.testimonials{
    background: #F8F8F8;
}
.testimonials-block{
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1050px;
    margin: auto;
}
.testimonials__title{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    width: 100%;
    padding-bottom: 3em;
}
.checked {
    color: #FFBB0C;
}
.testimonials__rating{
    font-size: 23px;
}
.testimonials__rating span{
    padding-right: 5px;
}
.testimonials__image{
    padding-top: 9em;
}
.testimonials__image img{
    border-radius: 14px;
}
.testimonials__comment{
    max-width: 450px;
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
.testimonials__name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
}
.testimonials__position{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    margin-top: -2em;
}